<% wrap_layout :application do %>

  <section id="headline">
    <div class="container">
      <h3><%= current_page.data.title %></h3>
    </div>
  </section>
  <section class="container page-content" >

    <%= yield %>

  </section>

<% end %>