<nav>
	<div class="nav-bar">
		<!-- <div class="module left">
			<a href="index.html">
				<img class="logo logo-light" alt="Foundry" src="img/logo-light.png" />
				<img class="logo logo-dark" alt="Foundry" src="img/logo-dark.png" />
			</a>
		</div> -->
		<div class="module widget-handle mobile-toggle right visible-sm visible-xs">
			<i class="ti-menu"></i>
		</div>
		<div class="module-group right">
			<div class="module left">
				<ul class="menu">
					<li class=""><a href="#">Home</a></li>
					<li class=""><a href="#">About</a></li>
				</ul>
			</div>
		</div>
		<!--end of module group-->
	</div>
</nav>
