---
layout: "inner-with-sidebar"
title: "New Relic"
description: ""
date: "Current"
tags:
  - Tech
  - Community
project_links:
  - {title: "Curriculum Development Guide", url: "img/curriculum_development_guide.pdf"}
  - {title: "Assessment Template", url: "img/assessment_template.pdf"}
  - {title: "OnBoarding Buddy Plan Template", url: "img/obb_plan_template.pdf"}
  - {title: "Blog Post: Refactoring Education", url: "img/refactoring-education.pdf"}
---


<p>
  <img src="/img/newrelic2.png" alt=""><br>
  <p class="lead">
    As education specialist at New Relic, I built a successful on-boarding and internal education program for engineers. In addition to creating and implementing comprehensive on-boarding schedules, trainings, and tracking systems for multiple engineering teams hiring continuously, I also developed a broad range of curriculum using Instructional Systems Design principles.<br><br>
    Much of this work involved collaborating with engineers and managers to create flexible, adaptive workshops and trainings tailored to each team's needs. <br><br>
    I established the standards listed below as the bar for excellence that my programming follows and trained and mentored engineers as trainers for a variety of technical topics using these standards.
  </p>

  <div class="five columns">
    <p>
      <h4><strong>Trainers</strong></h4>
        <ul class="circle">
          <li>are organized and create great documentation that they update frequently</li>
          <li>are always seeking to improve</li>
          <li>present excellent trainings consistently</li>
          <li>set clear expectations
          <li>know their audience, and set SMART learning goals based on determined needs</li>
          <li>are attentive to multiple-learning styles</li>
          <li>take a hands-on, learner centered approach</li>
        </ul>
    </p>
  </div>

<div class="five columns omega">
  <p>
    <h4><strong>Trainings</strong></h4>
      <ul class="circle">
        <li>Have clearly communicated schedules</li>
          <li>Have a clear purpose, goals, and target audience</li>
          <li>Content focuses on the learners' needs</li>
        <li>Are well organized:</li>
          <ul class="circle">
            <li>materials are structured clearly and consistently</li>
            <li>are reproducible by any trainer with the necessary knowledge base</li>
            <li>Have supporting materials such as: external resources, follow up tasks, and assessments </li>
          </ul>
      </ul>
    </p>
</div>

<hr class="vertical-space">

<br class="clear" />
<p class="blog-inpic lead">
  <img src="/img/creative-brainstorm1.jpg" alt="" style=" width: 400px;">Creative Brainstorming Session</p>
  <p>This was one of several creative brainstorming sessions I held. This one in particular focused on collecting ideas, feedback, interests, and needs for education from all the engineers at New Relic. <br>Engineers talked with each other and the education team about on-boarding, mentoring, pair programming, and many other topics.
</p>

<hr class="vertical-space">

<br class="clear" />
<div class="five columns alpha">
  <p class="lead">
    Community Forum Discussion
  </p>
  <p>
    I coordinated with PDX.rb meet-up organizers to set up a community forum discussion. This event took place at New Relic with ruby developers from all over Portland as well as New Relic engineers.
  </p>
</div>

<div class="six columns omega">
  <blockquote class="twitter-tweet" width="400" align="right" lang="en">
  <p>
    <a href="https://twitter.com/pdxruby">@pdxruby</a> meeting hosting community forum discussions <a href="https://twitter.com/newrelic">@newrelic</a> getting ready for the next hallway track! <a href="http://t.co/txvhm5O8lh">pic.twitter.com/txvhm5O8lh</a>
  </p>&mdash; Erica Lauer Vose (@ELauerVose)
  <a href="https://twitter.com/ELauerVose/statuses/420779652005638144">January 8, 2014</a>
  </blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
<br class="clear" />




