<!doctype html>
<html lang="en">
  {% include head-2018.html %}

  <body class="scroll-assist">
    <div class="nav-container">
      <a id="top"></a>
      
      {% include header.html %}

    </div>
    <div class="main-container">
      <section class="page-title page-title-4 bg-secondary">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3 class="uppercase mb0">Erica Lauer Vose</h3>
            </div>
            <div class="col-md-6 text-right">
              <!-- <ol class="breadcrumb breadcrumb-2">
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <a href="#">Blog</a>
                </li>
                <li class="active">Blog Sidebar</li>
              </ol> -->
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </section>
      <section>
        <div class="">
          <div class="row">
            <div class="">
              
              <!--Begin post content-->
              
              {{ content }}
              
              <!--end of post content-->

            </div>
          </div><!--end of container row-->
        </div><!--end of container-->
      </section>

      {% include footer.html %}

    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/flickr.js"></script>
    <script src="js/flexslider.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/masonry.min.js"></script>
    <script src="js/twitterfetcher.min.js"></script>
    <script src="js/spectragram.min.js"></script>
    <script src="js/ytplayer.min.js"></script>
    <script src="js/countdown.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>