---
layout: "application"
title: "Home"
---

<section class="container page-content" >
    <hr class="vertical-space2">
    <section class="twelve columns offset-by-two">
      <article>
        <h4 class="subtitle">A LITTLE ABOUT ME</h4>
        <h4>Creative, collaborative, passionate, driven.</h4>
        <p class="blog-inpic"><img src="/img/erica.jpg" alt="" style="margin-bottom: 25px;"><span> <h5>My areas of expertise and interest are; strategic planning, program management, community outreach, adult education, marketing, communications, internet technology, and storytelling.</h5>
        <h5>I do my best work when collaborating with others. I bring creativity and an interdisciplinary, community-minded approach to my work.</h5>
        <h5>I have extensive experience working in nonprofits and a masters in public administration and nonprofit management. I am passionate about mission driven work that focuses on strengthening communities and empowering individuals.</h5>
        <h5>I am also passionate about tech education. Technology can empower individuals to achieve more and enable organizations to have a broader reach and a more lasting impact on communities.</h5></span></p>
          <div style="text-align: right;">
            <strong>Find Me: </strong>
            <a href="img/erica_lauer_vose_resume.pdf" target="_blank" alt="Resume">Resume </a> |
            <a href="https://www.linkedin.com/in/elauervose/">LinkedIn </a> |
            <a href="https://twitter.com/ELauerVose">Twitter </a> |
            <a href="https://github.com/elauervose">GitHub </a>
          </div>
          <br class="clear" />
          <hr class="vertical-space2">
          <div class="twelve columns">
            <h4>Tech education is about empowering others to transform their lives.</h4>
              <p class="blog-inpic"> <img src="/img/tech-education.jpg" style="margin-bottom: 45px;">After getting my masters in public administration and nonprofit management, I began thinking about how technology could help so many nonprofits expand their reach and impact to benefit communities. I wanted to be an educational resource and a point of access to tech knowledge for nonprofits.</p>
              <p>I began this effort by co-founding a code school and then became a co-organizer for Code for Portland and an education specialist for New Relic. As I continue to explore this field, I am excited to find new ways to be a bridge and a resource for others to access technology.</p>
          </div>

          </div>
      </article>
    </section>
    <hr class="vertical-space2">
  </section>
  <!-- container -->



