---
layout: "inner-with-sidebar"
title: "Girl Scouts of Oregon & SW WA"
description: "Implementing national strategic goals in the council program department."
date: "2010 - 2012"
tags:
  - Nonprofit
  - Community
project_links:
  - {title: "GSOSW", url: "#"}
  - {title: "GSUSA", url: "#"}
  - {title: "Travel Patrols", url: "img/travel_patrol_description_2011.pdf"}
  - {title: "Troop & Group Travel", url: "img/troop-group_travel_info_2011.pdf"}
  - {title: "Financing Girl Scout Travel", url: "img/financing_girl_scout_travel_2011.pdf"}
---

<p class="blog-inpic lead">
  <img src="/img/gsosw.jpg">
  After conducting an evaluation of GSOSW travel programs, I identified a key issue for the council that was preventing achievement of national goal; the council's ability to consistently provide accurate, accessible information. <br>
</p>

<br class="clear" />
<p class="blog-inpic-right lead">
  <img src="/img/gsosw2.png">
  To address this issue, I gathered and organized information, worked with volunteers, and researched policies.
</p>
<p class="blog-inpic-right lead">
  I then developed documents outlining accurate and complete information as well as training materials to ensure that consistent and accurate information was available to volunteers and staff.
</p>

<hr class="vertical-space">

<br class="clear" />
<p class="five columns offset-by-six"><em>The majority of this work can be viewed in the documents linked in the sidebar.</em></p>
