---
layout: "application"
title: "Home"
---

<section id="hero" class="tbg1">
  <div id="layerslider-container-fw">
    <div id="layerslider" style="width: 100%; height: 436px; margin: 0px auto; ">

      <div class="ls-layer" style="slidedirection: top; slidedelay: 6000; durationin: 1500; durationout: 1500; delayout: 500;">

       <img src="img/slide-pics/summer_day.jpg" class="ls-bg" alt="">

       <!-- <img src="img/slide-pics/erica.jpg" class="ls-s6" alt="" style="top: 134px; left: 30px;  slidedirection : bottom; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 600;"> -->
       <!-- <img src="img/slide-pics/slide1-pic2.png" class="ls-s6" alt="" style="top: 36px; left: 190px;  slidedirection : bottom; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1000;"> -->
       <h1 class="ls-s3" style="position: absolute; top:40px; left: 600px; slidedirection : top; slideoutdirection : top; durationin : 1000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 1000;">Community+<br><span><h2>Technology Education</h2></span></h1>

       <h4 class="ls-s3 l1-s1 highlight-header" style="position: absolute; top:150px; left: 600px; slidedirection : bottom; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 1000;">Empowering organizations and individuals to transform their world</h4>
      </div>
    </div>
  </div>
</section>
   <!-- end-hero-->

<!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
<section class="container home-content" >
<hr class="vertical-space2">
<div class="one-third column icon-box5">
<i class="icomoon-laptop"></i>
<h4>Tech Education</h4>
<p>Helping companies invest in training for employees to improve employee performance - in quality, quantity, problem solving, attitude, ethics, motivation, leadership, and communication. <!-- Promoting technological literacy to empower organizations, communities, and individuals to transform the world. --></p>
<!-- <a href="#" class="magicmore">Learn more</a> -->
</div>
<div class="one-third column icon-box5">
<i class="icomoon-brain"></i>
<h4>Nonprofit Management</h4>
<p>Leadership, management, and consultation to help improve nonprofit services and empower individuals and organizations to change their communities for the better.</p>
<!-- <a href="#" class="magicmore">Learn more</a> -->
</div>
<div class="one-third column icon-box5">
<i class="icomoon-bubbles-10"></i>
<h4>Community Organizing</h4>
<p>Bringing people together to solve problems, help each other, and have fun. Working within the community, I am constantly reminded that when any one of us is better, we are all better.</p>
<!-- <a href="#" class="magicmore">Learn more</a> -->
</div>
<hr class="vertical-space2">
<hr>


<!-- <div class="three columns sidebar leftside">
<h3><strong>Recent Works</strong></h3>
<p>Here are a few of my recent projects.</p>
<a href="/projects.html" class="magicmore">See All</a>
<hr> -->

<!-- <h5><strong>Categories</strong></h5>
<div class="listbox1">
<ul>
<li><a href="#">Design </a></li>
<li><a href="#">Print</a></li>
<li><a href="#">Video</a></li>
<li><a href="#">Other  </a></li>
</ul>

</div> --><!-- end-listbox1 -->

<!-- <hr class="vertical-space1">

<h5><strong>Archives</strong></h5>
<div class="listbox1">
<ul>
<li><a href="#">May 2012 (2)</a></li>
<li><a href="#">April 2012 (3)</a></li>
<li><a href="#">March 2012 (5)</a></li>
<li><a href="#">February 2012 (1) </a></li>
</ul>
</div> --><!-- end-listbox1 -->

<!-- </div>
<div class="twelve columns omega recent-works-items">
<div class="six columns alpha">
<a href="#"><img src="images/portfo/mex-port09.jpg" alt=""></a>
<h4><a href="portfolio-item.html">Save the World</a> </h4>
<p>10 MAY 2013 - <a href="#" >DESIGN</a>, <a href="#" >Print</a></p>
</div>

<div class="six columns omega">
<a href="#"><img src="images/portfo/mex-port12.jpg" alt=""></a>
<h4><a href="portfolio-item.html">Mall Admirer</a> </h4>
<p>10 MAY 2013 - <a href="#" >DESIGN</a>, <a href="#" >video</a></p>
</div>

<div class="six columns alpha">
<a href="#"><img src="images/portfo/mex-port01.jpg" alt=""></a>
<h4><a href="portfolio-item.html">Spoilt for choice</a> </h4>
<p>10 MAY 2013 - <a href="#" >DESIGN</a>, <a href="#" >Print</a></p>
</div>

<div class="six columns omega">
<a href="#"><img src="images/portfo/mex-port04.jpg" alt=""></a>
<h4><a href="portfolio-item.html">Busy girl</a> </h4>
<p>10 MAY 2013 - <a href="#" >DESIGN</a>, <a href="#" >Print</a></p>
</div>

</div>
</div>

<hr class="vertical-space2">-->

<!-- <div class="eight columns">
<div class="pad-r10">
<h4><strong>Only Use what is necessary</strong></h4>
<img src="images/promo-pic01.png" class="alignright" alt="">
<p>Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra. Phasellus blandit mattis ipsum, ac laoreet lorem lacinia et. Cras et ligula libero.
</p>
<a href="#" class="magicmore">Haretra in sodales atsen interdum</a>
</div>
</div>
<div class="eight columns alpha omega">
<div class="brdr-l1 pad-l40">
<h4><strong>Clean and User friendly layouts</strong></h4>
<img src="images/promo-pic02.png" class="alignright" alt="">
<p>Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra. Phasellus blandit mattis ipsum, ac laoreet lorem lacinia et. Cras et ligula.</p>
<a href="#" class="magicmore">Haretra in sodales atsen interdum</a>
</div>
</div>-->
</div>

<hr class="vertical-space1">


 <!--  <div class="qot-week">
  <div class="qot-pic"></div>
  <h6 class="qot-title">Quote of the week</h6>
  <blockquote><h3>Care and accuracy in the design process show respect towards the consumer.</h3>
  <cite title="">John Smith <small> - Manager at Mexin</small></cite></blockquote>

  </div>


    <hr class="vertical-space2">

</section> --><!-- end- -->