---
layout: "inner-with-sidebar"
title: "New Relic"
description: ""
date: "Current"
tags:
  - Tech
  - Community
project_links:
  - {title: "Code for Portland", url: "http://www.codeforportland.com/"}
  - {title: "Github", url: "https://github.com/CodeForPortland"}
  - {title: "Portland Wiki CfP Projects", url: "http://portlandwiki.org/Apps#Open_Data_Civic_Projects_Index"}
  - {title: "CivicApps", url: "http://www.civicapps.org/"}
---


<p>
  <img src="/img/newrelic2.png" alt=""><br>
  <p class="lead">
    My role as one of the Code for Portland organizers is to identify potential partners and work to cultivate lasting partnerships and relationships. <br>
    Part of this includes helping community and civic leaders understand what Code for Portland is all about and learning what the needs are so we can create projects with lasting, meaningful impact.
  </p>

<div class="six columns alpha">
  <br>
  <h4>Code for Portland is a Brigade of Code for America</h4>
   <p>Our Mission is to build a bridge between tech, nonprofits, and government agencies. By promoting civic hacking and engagement by organizing events, helping teams build projects, and providing an open, collaborative space. We are making our community more awesome.</p>
</div>


<div class="four columns blog-q" >
  <p>
    <h4>Our focus:</h4>
    <ul>
      <li class="star">Build lasting partnerships and relationships with government and community leaders</li>
      <li class="star">Modernize existing data portals and tools</li>
      <li class="star">Identify and promote existing projects</li>
      <li class="star">Provide space, organizational assistance, and coaching for future projects</li>
    </ul>
  </p>
</div>

<br class="clear" />
<p class="blog-inpic">
  <img src="img/cfp-brainstorm.jpg" alt="">
  <p class="lead">We kicked off the group by hosting a community discussion to ask everyone:</p>
    <ul>
      <li>What needs do you see in the community that you think are most important?</li>
      <li>What are you passionate or excited about?</li>
      <li> What kinds of projects do you enjoy?</li>
      <li> Have you worked with government agencies or nonprofits in the past?</li>
  </ul>
</p>

<br class="clear" />
<p class="blog-inpic-right lead">
  <img src="img/cfp-large-group.jpg" alt=""> The ideas, interests, and enthusiasm from the participants was fantastic and helped drive the creation of our strategic plan for the year.
</p>



