---
layout: "inner-with-sidebar"
title: "Olympia Historical Society"
description: "An oral history book about the life of Winnifred Olson"
date: "Spring 2006"
tags:
  - Community
project_links:
  - {title: "Find the Book", url: "http://www.worldcat.org/title/youre-making-history-now/oclc/71817993"}
  - {title: "Olympia Historical Society", url: "http://olympiahistory.org/wp/"}
---


<img src="img/oral_history-wide.jpg">
<h3>Olympia Historical Society, Oral History, 2006</h3>
<p class="lead">
  I conducted a life history of 80 year old, life-long resident of Olympia, Washington Winnifred Olsen.  Six separate interviews were recorded, transcribed, edited, and compiled into a book published by the Olympia Historical Society.
</p>

<p class="lead blog-inpic">
  <img src="img/oral_history.jpg">The book can be found at the Washington State library, the University of Washington Library, and the Regional Library.
</p>

<h4><em><strong>Winnifred Olsen; You’re Making History Now.</em></strong></h4>
<p>
  Edited by Erica Stillman and Lois Fenske.  Olympia: Olympia Historical Society, 2006. <a href="http://www.worldcat.org/title/youre-making-history-now/oclc/71817993" target="_blank">Find the Book »</a>
</p>

