---
layout: "inner-with-sidebar"
title: "Oregon Volunteers"
description: "A strategic plan to achieve Oregon State Service Commission goals."
date: "2012 - 2013"
tags:
  - Nonprofit
  - Community
project_links:
  - {title: "Executive Summary", url: "img/executive_summary_strategic_planning_process_oregon_volunteers.pdf"}
  - {title: "Final Report", url: "img/final_report_strategic_planning_oregon_volunteers.pdf"}
  - {title: "Appendix A: Scenario Planning", url: "img/appendix_a_scenario_planning.pdf"}
  - {title: "Appendix B: Implementation Phases", url: "img/appendix_b_strategic_planning_phases_and_implementation.pdf"}
  - {title: "Appendix C: Recommended Capacity Assessment Tool", url: "img/appendix_c_recommended_capacity_assessment_tool.pdf"}
  - {title: "Appendix D: Foundation Grant Analysis", url: "img/appendix_d_foundation_candidate_analysis.pdf"}
  - {title: "Appendix E: PSO Test Resource", url: "img/appendix_e_pso_test.pdf"}
  - {title: "Oregon Nonprofit Handbook", url: "http://www.nonprofitoregon.org/helpline_resources/publications"}
  - {title: "Oregon Volunteers", url: "http://www.oregonvolunteers.org/"}
---


<p class="lead blog-inpic"><img src="img/strategic_plan_diagram.png">
  I developed a strategic plan to achieve goals set by the Oregon State Service Commission for the AmeriCorps federal grant administration organization, <a href="http://www.oregonvolunteers.org/">Oregon Volunteers</a>.
</p>
    <p class="lead">The strategic plan includes a description of necessary leadership development, case studies of potential scenarios, and an organizational capacity assessment. This strategic plan was presented to the Oregon Service Commission who used the scenario case studies to inform their decision-making process.</p>

