---
layout: "inner-with-sidebar"
title: "The Portland Fruit Tree Project"
description: "A deliciously sweet documentary about the Portland Fruit Tree Project."
date: "Summer 2012"
tags:
  - Nonprofit
  - Community
project_links:
  - {title: "The Portland Fruit Tree Project", url: "http://portlandfruit.org/"}
  - {title: "Bike Powered Harvests", url: "http://youtu.be/TSYPm_xL8-8"}
  - {title: "Give Guide", url: "http://www.wweek.com/portland/giveguide"}
---

<iframe width="100%" height="412" style="margin-right: 10px;" src="http://www.youtube.com/embed/Yt8vnltoZ_Y" frameborder="0" allowfullscreen alt="Portland Fruit Tree Project Give Guide Video"></iframe>

<hr class="vertical-space">

<h3>Portland Fruit Tree Project, Summer 2012</h3>
<p class="lead">I produced this video for the Portland Fruit Tree Project. This project was a combination of volunteer and event coordination, marketing and communications, and documentary film making. This was used as part of the Portland Fruit Tree Project's <a href="http://www.wweek.com/portland/giveguide">GiveGuide </a>application. </p>

<br class="clear" />

<p class="blog-inpic lead">
  <img src="/img/pftp-bike-harvest.jpg" alt="">Making the documentary was so much fun, in fact, I created a second video featuring their<br>
  <a href="http://youtu.be/TSYPm_xL8-8">Bike Powered Harvests</a>.<br>
  These harvests are done entirely by bike from getting to the harvest site to delivering the fruit to the food banks.
</p>

<br class="clear" />

<p class="blog-inpic-right lead">
  <img align="right" src="/img/pftp-harvest.jpg"  alt="">As part of the marketing and communications work I did for the Portland Fruit Tree Project, I coordinated community volunteer photographers to help tell a story about the work being done by this nonprofit through gorgeous imagery.<br>
  <small>This photo credited to Kimi Nam. </small>
</p>



