---
layout: "inner"
title: "Portfolio"
---

<hr class="vertical-space1">
<nav class="primary clearfix">
  <ul>
    <li><a href="#" class="selected" data-filter="*">All</a></li>
    <li><a class="" href="#" data-filter=".edu">Education</a></li>
    <li><a class="" href="#" data-filter=".tech">Tech</a></li>
    <li><a class="" href="#" data-filter=".nonprofit">Nonprofit</a></li>
    <li><a class="" href="#" data-filter=".community">Community</a></li>
    <!-- <li><a class="" href="#" data-filter=".print">Print </a></li> -->
  </ul>
</nav>

<div class="portfolio">

  <figure class="portfolio-item eight columns edu">
    <div class="img-item tooltips">
      <a href="cfp-project.html">
        <img style="padding-top: 64px; padding-bottom: 20px;" src="/img/code_for_portland.png" alt="">
      </a>
    </div>
    <figcaption>
      <h4><a href="cfp-project.html">Code for Portland</a> </h4>
      <p>Feb. 2014 - Current <a href="#" >Community</a>, <a href="#" >Community</a></p>
    </figcaption>
  </figure>
  <!-- end-portfolio-item-->

<figure class="portfolio-item eight columns edu">
  <div class="img-item tooltips">
    <a href="nr-project.html">
      <img src="/img/newrelic2.png" alt="">
    </a>
  </div>
  <figcaption>
    <h4><a href="nr-project.html">New Relic</a> </h4>
    <p>September 2013 - Current <a href="#" >Education</a></p>
  </figcaption>
</figure>
  <!-- end-portfolio-item-->

  <figure class="portfolio-item eight columns nonprofit">
    <div class="img-item tooltips">
      <a href="pftp-project.html"><iframe width="540" height="276" src="http://www.youtube.com/embed/Yt8vnltoZ_Y" frameborder="0" allowfullscreen></iframe>
      </a>
    </div>
    <figcaption><h4><a href="pftp-project.html">The Portland Fruit Tree Project</a> </h4>
    <p>Summer 2012 - <a href="#" >Nonprofit</a></p></figcaption>
  </figure>
  <!-- end-portfolio-item-->

  <figure class="portfolio-item eight columns edu">
    <div class="img-item tooltips">
      <a href="pcs-project.html">
        <img width="540" style="padding-top: 60px; padding-bottom: 20px;" src="img/masthead_small.png" alt="">
      </a>
    </div>
    <figcaption>
      <h4><a href="pcs-project.html">The Portland Code School</a></h4>
      <p>2012 - 2013 - <a href="#" >Education</a>
    </figcaption>
  </figure>
  <!-- end-portfolio-item-->

  <figure class="portfolio-item eight columns nonprofit">
    <div class="img-item tooltips">
      <a href="gsosw-project.html">
        <img width="540" src="/img/gsosw.png" alt="">
      </a>
    </div>
    <figcaption>
      <h4><a href="gsosw-project.html">Girl Scouts of Oregon and Southwest Washington</a> </h4>
      <p>2010 - 2012 - <a href="#" >Nonprofit</a></p>
    </figcaption>
  </figure>
  <!-- end-portfolio-item-->

   <figure class="portfolio-item eight columns nonprofit">
    <div class="img-item tooltips">
      <a href="afp-project.html" >
        <img style="padding-top: 84px; padding-bottom: 20px;" src="/img/afppsu_header.png" alt="">
      </a>
    </div>
    <figcaption>
      <h4><a href="afp-project.html">Association of Fundraising Professionals</a> </h4>
      <p>2012 - 2013 <a href="#" >Nonprofit</a></p>
    </figcaption>
  </figure>
  <!-- end-portfolio-item-->

  <figure class="portfolio-item eight columns nonprofit">
    <div class="img-item tooltips">
      <a href="wrc-project.html">
        <img height="296" style="padding-left: 94px; padding-right:34px;" src="/img/americorps-wa-logo.png" alt="">
      </a>
    </div>
    <figcaption>
      <h4><a href="portfolio-item.html">The Washington Reading Corps</a> </h4>
      <p>2007 - 2010 <a href="#" >Nonprofit</a></p>
    </figcaption>
  </figure>
  <!-- end-portfolio-item-->

  <figure class="portfolio-item eight columns nonprofit">
    <div class="img-item tooltips">
    <a href="ov-project.html">
      <img height="296" style="padding-left: 50px;" src="/img/strategic_plan_diagram.png" alt="">
    </a>
  </div>
    <figcaption>
      <h4><a href="ov-project.html">Oregon Volunteers</a> </h4>
      <p>Spring 2012 - <a href="#" >Nonprofit</a></p>
    </figcaption>
  </figure>
  <!-- end-portfolio-item-->

  <figure class="portfolio-item eight columns community">
    <div class="img-item tooltips">
      <a href="olyhs-project.html"><img height="296" src="/img/oral_history2.png" alt="">
      </a>
    </div>
    <figcaption>
      <h4><a href="olyhs-project.html">Olympia Historical Society</a> </h4>
      <p>2006 - 2007 - <a href="#" >Community</a>, <a href="#" > Nonprofit</a></p>
    </figcaption>
  </figure>
  <!-- end-portfolio-item-->

  <figure class="portfolio-item eight columns community">
    <div class="img-item tooltips">
      <a href="story-project.html"><iframe class="featurette-image pull-right" width="540" height="296" src="http://www.youtube.com/embed/yRpSexh5gc0" frameborder="0" allowfullscreen alt=""></iframe></a>
    </div>
    <figcaption>
      <h4><a href="story-project.html">Oral History; Ethnographic Storytelling</a> </h4>
      <p>Spring 2005 - <a href="#" >Community</a></p>
    </figcaption>
  </figure>
  <!-- end-portfolio-item-->

</div>

<hr class="vertical-space2">
<script src="isotope/isotope.js"></script>
<script src="isotope/isotope-custom.js"></script>
<script src="js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>