---
layout: "inner-with-sidebar"
title: "Ethnographic Storytelling"
description: "An ethnographic story about life experiences of a immigrant farm-worker."
---

<div>
  <div class= "three columns alpha">
    <iframe width="812" height="412" src="http://www.youtube.com/embed/yRpSexh5gc0" frameborder="0" allowfullscreen></iframe>
  </div>

<br class="clear" />
<hr class="vertical-space">
<div class="eleven columns">
  <h3>Oral History: <em>Tortillas</em>, 2005</h3>
  <p class="lead">I conducted an interview with an immigrant farm worker about his experiences in the U.S. This is an excerpt of the interview featuring one of the stories he told. I edited, translated, and subtitled the story to create a short documentary.</p>
</div>


