---
layout: "inner-with-sidebar"
title: "The Washington Reading Corps"
description: "Recruiting, hiring, training, mentoring and coaching team members."
date: "2007 - 2010"
tags:
  - Nonprofit
  - Community
project_links:
  - {title: "CYS-WRC Program", url: "http://www.communityyouthservices.org/p_americorps_WRC.shtml"}
  - {title: "AmeriCorps", url: "http://www.nationalservice.gov/programs/americorps/americorps-state-and-national"}
  - {title: "CYS-WRC Blog", url: "http://cysreadingcorps.wordpress.com/"}
---


<p class="blog-inpic lead">
  <img src="img/americorps-wa-logo.png">
  I supervised a 50-person AmeriCorps team tutoring elementary school students to read across 10 different schools spread across six counties in Washington state.
</p>
<p class="lead">
  As their coach, mentor, and supervisor, I supported members to achieve personal and professional goals. This included planning and implementing member orientation, training, and team building activities.
</p>

<br class="clear" />
  <h4 class="subtitle">Washington Reading Corps Blog</h4>
  <img src="img/wrc-blog.png">
  <p class="lead">
    I created this blog in response to a national initiative to have a stronger on line presence for the program and as a tool to communicate with the community, other members, and state and federal AmeriCorps agencies what our team was doing.
  </p>
    <p class="lead">
      I helped members write about their experiences as reading tutors so the content was always fresh and meaningful.  While it is noticeably out of date, you can get an idea of what it was.
    <br>
    <a href="http://cysreadingcorps.wordpress.com/" target="_blank">Visit the Blog »</a>
  </p>

  <h4 class="subtitle">Team Building, Service Projects, & Trainings</h4>
  <p class="lead">
    Over the course of 9 months, I coordinated service events, team building activities, and conducted trainings for my team. I also supported and coached memebers to organize and facilitate thier own service projects and trainings.
  </p>

<p class="blog-inpic lead">
  <img src="img/kayaking_puget_sound.JPG">At the start of the school year, new members joined the team from all over the U.S. As part of their orientation and team building, they got to go kayaking on the Puget Sound.
</p>

<br class="clear" />
<p class="blog-inpic-right lead">
  <img src="img/priest_point_park_invasive_specie_removal2.jpg">Members volunteered for a local park clean-up and helped remove invasive species. It was exhausting work and a rest well-earned.
</p>

<br class="clear" />
<p class="blog-inpic lead">
  <img src="img/bremerton_members_with_senator_derek_kilmer2.jpg">Members in Senator Derek Kilmer's district organized a community service project ofr the youth of a local housing authority. I invited him to participate as part of a statewide legislative outreach initiative.
</p>

<br class="clear" />
<p class="blog-inpic-right lead">
  <img src="img/voices_of_youth.JPG">I set up a partnership with a local youth-service organization to help organize a public event called <a href="http://www.mosaicvoices.org/index.php?option=com_content&view=category&layout=blog&id=42&Itemid=60" target="_blank">Voices of Youth</a>.
</p>
